h1 {
  font-stretch: condensed;
  font-family: forum;
  font-style: normal;
  font-size: large;
  font-weight: bold;
}
p {
  font-stretch: ultra-condensed;
  font-family: forum;
  font-style: normal;
  font-size: medium;
  text-align: justify;
  padding: 5px;
}
body {
  background-color: CFCBC7;
}
image {
  height: 600px;
  width: 500px;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: inline;
  padding: 13px;
  font-style: normal;
}
a {
  background-color: dark;
}
